alias v=nvim
alias p='git push origin $(git branch --show-current)'
alias pl='git pull'
alias cm='git commit -am' 
alias co='git checkout'
alias cob='git checkout -b'
alias s='git status'
alias la='ls -lah'
