alias v=nvim
alias lah='ls -lah'
alias datetu='date -u +%Y-%m-%dT%H:%M:%S%Z'
alias datet='date +%Y-%m-%dT%H:%M:%S'
alias dated='date +%Y-%m-%d'
alias replace='f() { grep -rl $1 . | xargs sed -i "" "s/$1/$2/g" };f'
alias py='f() { echo '"'"'{"venvPath":".","venv":".venv"}'"'"' > pyrightconfig.json };f'
alias history='history 1'
